.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user > button {
    border: none;
    outline: none;
    background: none;
}

.action {
    background-color: var(--white-color);
    border-radius: 10px;
    width: 57px;
    height: 57px;
    box-shadow: 0 0 60px 2px rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease-in-out;
}

.action:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 700;
}

.profile > span:first-child {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 10px;
    width: 57px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
}