.test {
    margin-top: 50px;
}

.bread {
    color: var(--gray-color);
    margin: 10px 0;
}

.info {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 20px;
}

.heading {
    font-weight: 800;
    margin-bottom: 25px;
}

.description {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.rating {
    display: flex;
    align-items: center;
}

.attrs {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 18px;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 35px;
}

.favoriteButton {
    border: none;
    background: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
}

.card {
    position: relative;
}

.image {
    width: 100%;
    height: 232px;
    border-radius: 20px;
}

.category {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background-color: #D01A3B;
    padding: 5px 0;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    width: 146px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design {
    background-color: #D01A3B;
}

.backend {
    background-color: #1BBD65;
}

.frontend {
    background-color: #197AD4;
}